@charset "utf-8";
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;} audio,canvas,video{display:inline;zoom:1;} html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;} body,button,input,select,textarea{font-family:sans-serif;} a{color:#00e;} a:visited{color:#551a8b;} a:focus{outline:thin dotted;} a:hover,a:active{outline:0;} abbr[title]{border-bottom:1px dotted;} b,strong{font-weight:700;} blockquote{margin:1em 40px;} dfn{font-style:italic;} mark{background:#ff0;color:#000;} pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;} pre{white-space:pre-wrap;word-wrap:break-word;} q{quotes:none;} q:before,q:after{content:none;} small{font-size:75%;} sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;} sup{top:-.5em;} sub{bottom:-.25em;} ul,ol{margin:1em 0;padding:0 0 0 40px;} dd{margin:0 0 0 40px;} nav ul,nav ol{list-style:none;list-style-image:none;} img{border:0;-ms-interpolation-mode:bicubic;} svg:not(:root){overflow:hidden;} fieldset{margin:0 2px;padding:.35em .625em .75em;} legend{border:0;margin-left:-7px;} button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;} button,input{line-height:normal;overflow:visible;} table button,table input{overflow:auto;} button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;} input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;} input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;} input[type=search]::-webkit-search-decoration{-webkit-appearance:none;} button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;} textarea{overflow:auto;vertical-align:top;} table{border-collapse:collapse;border-spacing:0;} audio:not([controls]),[hidden]{display:none;} body,figure,form{margin:0;}
body {
	background: url(dark.jpg) repeat;
	margin: 10px;
	color: #fff;
}
h1 {
	margin-bottom: 0;
	margin: 0;
	width: 100%;
}

/*HOVER*/
a:link {color: #fff; text-decoration: none; }
a:active {color: #fff; text-decoration: none; }
a:visited {color: #fff; text-decoration: none; }
.span4 ul a:hover {color: #fff; 
 border:px solid #FFFFFF; background-color: #0c0c0c;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0c0c), top(#282828));
 background-image: -webkit-linear-gradient(top, #0c0c0c, #282828);
 background-image: -moz-linear-gradient(top, #0c0c0c, #282828);
 background-image: -ms-linear-gradient(top, #0c0c0c, #282828);
 background-image: -o-linear-gradient(top, #0c0c0c, #282828);
 background-image: linear-gradient(to bottom, #0c0c0c, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0c0c0c, endColorstr=#282828);
 background: #2a2a2a;
}

.span4 ul a:active {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.active {
	background: green;
/*	width: 100px;
	height: 100px;
	border-radius: 50%;*/
}
.inactive {
	background: red;
}

.span4 ul {
	list-style: none;
	padding: 0;
}
p {
	margin: 0;
}
li {
	height: 36px;
}
.span4 ul li a {
	display: block;
	padding: 8px 20px 8px 20px;
}
ul {
	margin: 0;
}
.top {
	position:relative;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #333;
	border-bottom: 1px solid #000;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}
.container {
	margin-top: 30px;
	width:600px;
	/*transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;*/
    box-shadow: 0 0 5px rgba(255,255,255, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(255,255,255, 0.3); 
    -moz-box-shadow: 0 0 5px rgba(255,255,255, 0.3);
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}
.shadow {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
	-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}
.span4 {
	width:200px;
	margin-left:0;
}
.row {
	margin-left:0;
}
.corners {
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
.header {
	text-align: center;
	line-height: 25px;
}
.transition {
	transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
}
/*COLORS*/
.dark {
	background: #222;
	border-radius:6px;
}
.black {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.red {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	border:1px solid #d02718;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
	text-align: center;
}
.lightblue {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	border:1px solid #84bbf3;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}

.darkblue {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	border:1px solid #337fed;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}
.green {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	border:1px solid #268a16;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.lightgreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    border:1px solid #74b807;
    color:#ffffff;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.orange {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
        background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);
        background-color:#fbb450;
        border:1px solid #c97e1c;
        color:#ffffff;
        text-decoration:none;
        text-shadow:0px 1px 0px #8f7f24;
}